.block-table {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 35px rgba(127, 150, 174, 0.125);
  border: 1px solid rgb(231, 234, 243);
  margin-bottom: var(--space-xxxl);
}

.table-header {
  margin: 0 0 var(--space-s);
}

.block-table > span {
  color: #536d93;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  margin: 15px 0px 15px 15px;
}

.block-table table {
  min-width: 100%;
  table-layout: fixed;
}

.block-table table > thead > tr {
  background-color: #f8fafd;
  height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  color: #5a728c;
  font-weight: 700;
}

.block-table th {
  text-align: left;
  border-top: 1px solid rgb(231, 234, 243);
  border-bottom: 1px solid rgb(231, 234, 243);
}

.block-table table > thead > tr > th:first-child {
  padding-left: 15px;
}

.block-table table > tbody > tr {
  line-height: 40px;
  font-size: 15.5px;
}

.block-table table > tbody > tr > td:first-child {
  padding-left: 15px;
  font-weight: 500;
  min-width: 220px;
  width: 220px;
}

.block-table table > tbody > tr > td:last-child {
  padding-right: 15px;
}

@media screen and (max-width: 400px) {
  .block-table table > tbody > tr > td:last-child {
    font-size: 11px;
    line-height: 30px;
  }
}

.block-table table > tbody > tr > td {
  border-bottom: 1px solid rgb(231, 234, 243);
}

.block-table table > tbody > tr > td > a {
  text-decoration: none;
  color: #337afe;
  transition: 100ms ease-in-out;
}

.block-table table > tbody > tr > td > a:hover {
  color: #0150e3;
}

.block-table table > tbody > tr:last-child > td {
  border-bottom: none;
}
