.address-header {
	width: 100%;
	background-color: #fafcff;
	border-bottom: 1px solid #e7eaf3;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: var(--space-xxxl) 0;
		margin: auto;
	}

	> div > div:first-child {
		h3 {
			font-size: 20px;
			margin-bottom: var(--space-xs);
		}

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

		span {
			width: 100%;
			color: #536d93;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	h4 {
		color: #536d93;
    text-align: right;
		text-transform: uppercase;
		margin-bottom: var(--space-xs);
	}
}

.address-button {
  min-width: auto !important;
  margin-left: var(--space-xxs) !important;
}

.balance {
	font-size: var(--font-size-l);
	
	span {
		display: inline-flex;
    margin-left: var(--space-xxs);
	}
}

.qr-style {
	padding: 5px 5px 2.5px 5px !important;
	margin-top: 7px !important;
}

@media screen and (max-width: 600px) {
	.address-header {
		padding-left: 5px;
	}
	.address-header > div {
		width: calc(95vw - 10px);
	}
}
